[submodule "nvim"]
	path = dots/.config/nvim
	url = git@github.com:loldonut/nvim.git

[submodule "tokyo-night-alacritty-theme"]
	path = dots/.config/alacritty/tokyo-night-alacritty-theme
	url = git@github.com:zatchheems/tokyo-night-alacritty-theme.git
