configuration {
  modes: [ drun, combi ];
  combi-modes: [ drun, run ];
  font: "JetBrainsMono Nerd Font 12";
}

entry {
  placeholder: "Type here";
  cursor: pointer;
}

element {
  orientation: horizontal;
  children: [ element-text, element-icon ];
  spacing: 5px;
}

// @theme "/usr/share/rofi/themes/Arc-Dark.rasi"
